<div>
  <input>
  <button addTask>{{messages.add}}</button>
</div>
<div class="content-wrapper">
  <div>
    <web-if isEmptyList>
      <div>{{messages.emptyState}}</div>
    </web-if>
    <ul>
      <web-for todolist key="id">
        <li key="{{ scopeProps('id') }}">
          <span>{{ scopeProps('name') }}</span>
          <button remove>{{messages.remove}}</button>
          <button completed>{{messages.completed}}</button>
        </li>
      </web-for>
    </ul>
  </div>
  <div>
    <div completedTaskCounter></div>
    <ul>
      <web-for completedTask key="id">
        <li key="{{ scopeProps('id') }}">
          {{ scopeProps('name') }}
        </li>
      </web-for>
    </ul>
  </div>
</div>