app-loader {
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #000000A2;
  width: 100%;
  height: 100%;
  z-index: 99999;

  & > .loader {
    border: 8px solid #383838;
    border-radius: 50%;
    border-top: 8px solid #91241a;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}